<div class="container">
  <div class="card-body">
    <h2>title: <%= exhibition.name %></h2>
    <h3>dates: <%= exhibition.start_date %> - <%= exhibition.end_date %> </h3>
    <p>Address: <%= exhibition.address %></p>
  </div>
</div>
