<div class="container">
  <div class="card-body">
    <h2><strong><%= exhibition.name %></strong> </h2>
    <h3><%= exhibition.start_date %> - <%= exhibition.end_date %> </h3>
    <p>Address: <%= exhibition.address %></p>
  </div>
</div>
