<div class="container">
  <%= @exhibitions.each do |exhibition| %>
  <div class="work-of-art-card">
    <%= link_to exhibition.name, root_path %>
    <%= exhibition.description %>
    <% end %>
  </div>
  <%= link_to "Homepage", root_path %>
</div>

