<div class="container">
  <% @exhibitions.each do |exhibition| %>
  <div class="work-of-art-card">
    <%= link_to exhibition.name, exhibition_path(exhibition) %>
    <% end %>
  </div>
  <%= link_to "Homepage", root_path %>
</div>

