<div class="footer">

  <div class="text-footer">
    <p>This website was coded with<span>  ❤️</span>at Le Wagon by Artsouille Team.
    <br>
    Copyright 2021 Artsouille, Inc. All rights reserved</p>
  </div>

  <div class="links">
    <a href="https://github.com/lewagon" target="blank" rel="noopener noreferrer">
      <i class="fab fa-github fa-2x"></i>
    </a>

    <a href="https://www.facebook.com/lewagonbrussels/" target="blank" rel="noopener noreferrer">
      <i class="fab fa-facebook fa-2x"></i>
    </a>

    <a href="https://www.instagram.com/lewagonbelgium" target="blank" rel="noopener noreferrer">
      <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a href="https://twitter.com/lewagonbrussels" target="blank" rel="noopener noreferrer">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </div>

</div>
