<br>
<h1>ARTSOUILLE</h1>
<br>
<div class="searchbar">
  <form action="">
    <input type="search" placeholder="Find an artist, artwork, exhibition...">
    <i class="fa fa-search"></i>
  </form>
</div>

<div class="container-work-of-art-cards">

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
      <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
    <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
    <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

</div>

<div class="container-artist-cards">

  <div class="artist-card">
    <a href="">
      <img src="/assets/artist.png" alt="artist">
    </a>
    <div class="artist-card-infos">
      <h3>Artist Name</h3>
      <h4>Category / Category / Category</h4>
      <p>Number of Works</p>
      <p>Location</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="artist-card">
    <a href="">
      <img src="/assets/artist.png" alt="artist">
    </a>
    <div class="artist-card-infos">
      <h3>Artist Name</h3>
      <h4>Category / Category / Category</h4>
      <p>Number of Works</p>
      <p>Location</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="artist-card">
    <a href="">
      <img src="/assets/artist.png" alt="artist">
    </a>
    <div class="artist-card-infos">
      <h3>Artist Name</h3>
      <h4>Category / Category / Category</h4>
      <p>Number of Works</p>
      <p>Location</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

</div>
