<h1>ARTSOUILLE</h1>

<div class="container-work-of-art-cards">

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
      <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
    <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

  <div class="work-of-art-card">
    <a href="">
      <img src="/assets/dodoma.png" alt="dodoma">
    </a>
    <div class="work-of-art-card-infos">
      <h3>Work of Art Title</h3>
      <h4>Category / Category / Category</h4>
      <p>By name of artist</p>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
  </div>

</div>

<div class="btn-search">Search</div>

<h1>ARTSOUILLE</h1>
