.container-artist-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .artist-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 300px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .artist-card-infos {
    position: absolute;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin-bottom: 20px;

    h3 {
      margin-top: 8px;
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  img {
    width: 300px;
    max-height: 400px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  img:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}

.no-result {
  text-align: center;
}
