.background_grey {
  background-color: #f4f4f4;
}

.background_blue {
  background-color: #dee8eb;
}

.background_pink {
  background-color: #ffe8e8;
}

.background_green {
  background-color: #ddf5dd;
}

.background_purple {
  background-color: #cec1e7;
}
