.background {
  background-color: transparent;
}

.background_yellow {
  background-color: #fff5c0;
}

.background_blue {
  background-color: #dee8eb;
}

.background_pink {
  background-color: #ffe8e8;
}

.background_green {
  background-color: #ddf5dd;
}

.background_purple {
  background-color: #cec1e7;
}
