.btn-search {
  background: none;
  font-family: "FuturaPTMedium";
  border: 2px solid black;
  color: black;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin: auto;
  padding: 15px 32px;
  position: relative;
  cursor: pointer;
}

.btn-search::before,
.btn-search::after {
  background: black;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-search:hover {
  color: white;
}

.btn-search::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-search:hover:after {
  width: 100%;
}
