// The following code is specific to INDEX of Exhibitions.

.exhibition-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 0;
    width: 150px;
    text-align: center;
  }
}
.exhibition-list-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  #category {
    width: 150px;
  }

  h3 {
    margin-bottom: 0;
    width: 200px;
    text-justify: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  h4 {
    margin-bottom: 0;
    width: 250px;
    text-justify: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .btn-exhibition-info {
    width: 10%;

    .btn-outline-primary {
      margin-bottom: 0;
    }
  }
}

.divider {
  margin: 25px 0;
  border-color: black;
}


// The following code is specific to SHOW of Exhibitions.


.exhibition-card {
  display: flex;
  justify-content: space-evenly;

  img {
    max-width: 600px;
    max-height: 500px;
    pointer-events: none;
  }

  .exhibition-card-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .exhibition-card-infos {
      width: 400px;
      position: relative;
      text-align: justify;

      a {
        color: inherit;
        text-decoration: none;
      }

      p {
        margin-bottom: 8px;
      }
    }
  }
}
