h1 {
  font-family: 'Lena';
  color: black;
  font-size: 64px;
}

h2 {
  font-family: 'Novar';
  color: black;
  font-size: 32px;
}

h3 {
  font-family: 'Novar';
  color: black;
  font-size: 24px;
}

h4 {
  font-family: 'FuturaPTBook';
  color: black;
  font-size: 18px;
}
