.favorite-heart a {
  color: black;
  position: absolute;
  right: 12px;
  top: -40px;
}

.favorite-heart:hover a {
  color: #d34444;
}

.favorite-heart-show a {
  right: 10px;
  top: 64px;
  color: black;
  position: absolute;
}

.favorite-heart-show:hover a {
  color: #d34444;
}

.favorited {
  color: #d34444;
}

.favorite-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
