// app/assets/stylesheets/components/_map.scss
.map-index {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
