@media (min-width: 481px) and (max-width: 767px) {

  .background_yellow {
    padding-top: 10px;
  }

  .dropdown {
    position: absolute;

    img {
      position: absolute;
      right: 0px;
      top: -20px;
    }

    .dropdown-menu {
      padding: 0px 0px 0px 6px;
      width: 300px;
      height: 112px;
      width: 50px;
      font-size: 14px;
      line-height: 0.4rem;
      position: absolute;
      right: 0px;
      top: -20px;
    }
  }

  .searchbar{
    form {
      left: -5px;
      transform: translate(0%);
    }
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .profile-card {
    flex-direction: column;

    img {
      display: block;
      margin: auto;
      max-width: 325px;
    }
  }

  .profile-card-infos {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 325px;

    p {
      font-size: 14px;
    }

    .favorite-icon {
      width: 30px;
      height: 30px;
      right: 3px;
    }
  }

  .artist-card {
    flex-basis: 50%;
    flex-direction: column;

    img {
      display: block;
      margin: auto;
      max-width: 200px;
      }

    .artist-card-infos {
      margin: auto;
      max-width: 200px;

      p {
        font-size: 14px;
      }

      .favorite-icon {
        width: 30px;
        height: 30px;
        right: 7px;
        top: -35px;
      }
    }
  }

  .work-of-art-card {
    img {
      max-width: 200px;
    }

    .work-of-art-card-infos {
      p {
        font-size: 14px;
      }

      .favorite-icon {
        width: 30px;
        height: 30px;
        right: 7px;
        top: -35px;
      }
    }
  }
}
