.navbar-container {
  background-color: #f4f4f4;
  padding: 0 25px;

  .navbar-hr {
    border-color: black;
  }

  #bottom-divider {
    margin-bottom: 0;
  }

  .navbar-lewagon {
    padding: 0;
    justify-content: space-between;
    box-shadow: none;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  a {
    margin-right: 50px;
    font-family: "Novar";
    color: black;
  }

  a:hover, a:active, a:visited {
    text-decoration: underline;
    text-underline-position: under;
  }

  .active-tab {
    text-decoration: underline;
    text-underline-position: under;
  }

  .dropdown-menu {
    padding: 0;
    position: relative;
    top: 57px;
    right: -1px;
  }

  .dropdown-menu a:hover {
    background: white;
  }
}
