.navbar-container {
  margin: 0 25px;
}

.navbar-hr {
  border-color: black;
}

.navbar-lewagon {
  padding: 0;
  justify-content: space-between;
  background: transparent;
  box-shadow: none;

  .nav-link {
    font-family: "Novar";
    color: black;
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin-right: 8px;
}
