.profile-card {
  display: flex;
  justify-content: space-evenly;

  img {
    width: auto;
    max-height: 400px;
  }
}

.profile-card-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile-card-infos {
    width: 400px;
    text-align: justify;

    a {
      text-decoration: none;
      color: black;
    }

    p {
      margin-bottom: 8px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}
