.container-work-of-art-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 33.333333%;

  .work-of-art-card {
    height: auto;
    width: 400px;
  }

  .work-of-art-card .work-of-art-card-infos {
    display: flex;
    position: relative;
  }

  .work-of-art-card-infos {
    width: 400px;
    position: absolute;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }

    h3 {
      margin-top: 8px;
      margin-bottom: 0;
    }

    h3 a {
      color: black;
    }

    p {
      margin-bottom: 0;
    }

    p a {
      color: black;
    }
  }

  img {
    max-width: 400px;
    max-height: 500px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  img:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  #image-woa-show {
    pointer-events: none;
  }
}
