.container-work-of-art-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .work-of-art-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;

  .work-of-art-card-infos {
    display: flex;
    width: 300px;
    flex-direction: column;
    text-align: left;
    position: relative;
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }

    h3 {
      margin-top: 8px;
      margin-bottom: 0;
    }

    h3 a {
      color: black;
    }

    p {
      text-align: justify;
      margin-bottom: 0;
    }

    p a {
      color: black;
    }
  }
}

  img {
    width: 300px;
    max-height: 400px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  img:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  #image-woa-show {
    pointer-events: none;
  }
}
