<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @users_collab, url:users_collabs_path do |f| %>
        <%= f.input :user_id, collection: @filtered_users, label_method: lambda {|u| u.username}  %>
        <%= f.input_field :collab_id, as: :hidden, value: @users_collab.collab_id %>
        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>






